# platform artifacts
.DS_Store

# generics
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
bower_components
.grunt

# test artifacts
jshint.xml
_SpecRunner.html
coverage/
results.txt
coverageMocha
coverage

# tool artifacts
TODOS
